@model IEnumerable<UniversityMS.Models.ClassRoomAllocation>

@{
    ViewBag.Title = "Room Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Class Schedule and Room Allocation Information</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*@Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "control-label col-md-2" })*@

    <label class="control-label col-md-2">Department</label>

    <div class="col-md-10">

        <select name="departmentId" id="departmentId" class="form-control">
            <option value=0></option>
            @foreach (var department in ViewBag.departments)
            {
                <option value=@department.DepartmentId>@department.DeptCode</option>
            }

        </select><label id="DeptErrorLabel" style="color: red;"></label>
    </div>
    
    <label id="messageLabel" style="color: green;font-size: 20px;"></label>
    
    
    <div id="UpdatePanel">

    </div>
}



<script src="~/Scripts/jquery-2.1.4.js"></script>
<script>
    $(document).ready(function() {
        
        $("#departmentId").change(function() {
            var deptId = $("#departmentId").val();
            $("#messageLabel").text("");
            var jsonData = { deptId: deptId };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetClassScheduleInfo", "ClassRoomAllocation")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonData),
                dataType: "json",
                success: function (dataa) {
                    var tab = $('<table id="CourseTable" class="table">');
                    var thead = $('<thead style="line-height: 30px; color: #ffffff; font-weight: normal; font-size: 16px;"></thead>');
                    thead.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Course Code</th>');
                    thead.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Name</th>');
                    thead.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Schedule Info</th>');

                    thead.css('background-color', '#22A7F0');
                    tab.append(thead);

                    var tablerow = false;
                    $("#UpdatePanel").show();
                    $.each(dataa, function (key2, value2) {
                        var trow = $('<tr></tr>');
                        var gread = value2.GradeName;
                        if (gread == null) gread = 'Not Graded Yet';
                        trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value2.CourseCode + '</td>');
                        trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value2.CourseName + '</td>');
                        trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value2.Schedule + '</td>');
                        tab.append(trow);
                        tablerow = true;
                    });

                    $("tr:odd", tab).css('background-color', '#D2D7D3');
                    $("tr:even", tab).css('background-color', '#DADFE1');
                    $("#UpdatePanel").html(tab);
                    if (tablerow == false) {
                        $("#UpdatePanel").hide();
                        if(deptId!=0)
                        $("#messageLabel").text("No Courses are Available in this Department.");
                    }

                },
            });
            return false;
        });
    });
</script>







@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DeptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
