<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -University Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("University Management System", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li >@Html.ActionLink("Home", "Index", "Home")</li>
                  
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Department</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Department/Save">Save Department</a>
                            </li>
                            <li>
                                <a href="/Department/Show">View Departments</a>
                            </li>
                        </ul>
                       

                    </li>
                    
                    <li class="dropdown">
                        
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Course</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Course/Save">Save Course</a>
                            </li>
                            <li>
                                <a href="/CourseAssign/ViewCourseStatistics">View Course Statistics</a>
                            </li> 
                            <li>
                                <a href="/Course/UnassignCourses">Unassign All Courses</a>
                            </li>
                           
                        </ul>

                    </li>  

                    <li class="dropdown">
                        
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Teacher</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Teacher/Save">Save Teacher</a>
                            </li>
                            <li>
                                <a href="/CourseAssign/Save">Course Assign to Teacher</a>
                            </li>

                        </ul>

                    </li>   
                    
                    <li class="dropdown">
                        
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Student</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Student/Register">Register Student</a>
                            </li>
                            
                            <li>
                                <a href="/Student/Index">Show Student Details</a>
                            </li>
                            
                            <li>
                                <a href="/EnrollCourse/Create">Enroll Student in a Course</a>
                            </li>
                            
                            <li>
                                <a href="/EnrollCourse/SaveResult"> Save Student Result</a>
                            </li>
                            
                            <li>
                                <a href="/EnrollCourse/ViewResult"> View Result</a>
                            </li>
                           
                        </ul>

                    </li> 
                    
                    <li class="dropdown">
                        
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">ClassRoom</button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/ClassRoomAllocation/Create">Allocate ClassRooms</a>
                            </li>
                            
                            <li>
                                <a href="#">View Class Schedule and Room Information</a>
                            </li> 
                            
                            <li>
                                <a href="/ClassRoomAllocation/UnallocatedClassRoom"> Unallocate All Classroomsn</a>
                            </li>
                           
                        </ul>

                    </li>
            </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by Team Dynamics</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $("#Date").datepicker({ format: 'yyyy-mm-dd', value: '2016-05-09' });
            $("#enrollDate").datepicker({ format: 'yyyy-mm-dd', value: '2016-05-09' });
            $("#Date").val("2016-05-09");
            $("#enrollDate").val("2016-05-09");
        });
    </script>

</body>
</html>