@model UniversityMS.Models.Student

@{
    ViewBag.Title = " Register Student ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
    </head>

    <body>
        <h2>Register Student</h2>

        <div align="center" name="messageDiv" id="messageDiv">
            @if (@ViewBag.Message != null)
            {
                <span class="success-alert" id="success-alert" style="color:green">@ViewBag.Message</span>
                  @*<span class="alert alert-success">@ViewBag.Message</span>*@
            }
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>  </h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNo,"Contact No", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNo)
                        @Html.ValidationMessageFor(model => model.ContactNo)
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { @id = "datepicker" })
                       
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                </div>*@
                
          

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { @id = "datepicker" })

                        @Html.ValidationMessageFor(model => model.Date)
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentId, "Department", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DepartmentId", String.Empty)
                        @Html.ValidationMessageFor(model => model.DepartmentId)
                    </div>
                </div>
            



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Register" class="btn btn-primary btn-sm" />
                        </div>
                    </div>
                </div>
        }

        @*<div>
            @Html.ActionLink("Show Student Details", "Index")
        </div>*@


    </body>

</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        
        $(document).ready(function () {
              $("#datepicker").datepicker({ format: 'yyyy-mm-dd', value: '2016-05-7' });
           // $('.datepicker').datepicker();
            // $("#messageDiv").text("");

            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").alert('close');
            });
        });

       

    </script>
}
